
body{
  background-color: grey;
  margin: 0;
  padding: 0;
  padding-left: 8vw;
  padding-top: 10vh;
}
#plug{
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: pink;
  border-radius: 90%;
  height: 50px;
}
header{
  display: flex;
  background-color: black;
  align-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 10vh;
  left: 0;
  top: 0;
  position: fixed;
}
.Sidebar{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 8vw;
  position:fixed;
  left: 0;
  
}
main{
  display: flex;
}
.icon{
  max-width: 50px;
  margin-bottom: -20px;
  padding: 0;
}
.overlay, .modal{
  left: 8vw;
  right: 0;
  top: 10vh;
  bottom: 0;
  position: fixed;
  width: 92vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay {
  background: rgba(49,49,49,0.5);
}
.animeDetailsBody{
  display: flex;
  flex-direction: column;
}
.animeDetailsTop{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  
}
.detailsColumn{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.reviewDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}