@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import './assets/colors.scss';
.Bangers{
  font-family: 'Bangers';
  letter-spacing: 2px;
}
.Roboto{
  font-family: 'Roboto';
}
.noTop{
  margin-top: 0;
  padding-top: 0;
}
.flavor{
  color: $flavor;
}
body{
  background-color: $grey;
  margin: 0;
  padding: 0;
  padding-left: 8vw;
  padding-top: 10vh;
}
.white{
  color: white;
}
.wh{
  color: white;
}
.wh:hover{
  color: white;
}
.green{
  color: green;
}
.black{
  background-color: #1e1e1e;
}
.pinkUL{
  border-bottom: 2px solid pink;
}
.UL{
  transition: all 0.3s;
}
.UL:hover{
  transition: all 0.3s;
  border-bottom: 2px solid pink;
}
.grow{
transition: all 0.3s;
}
.grow:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.italic{
  font-style: italic;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.column{
  display: flex;
  flex-direction: column;
}
.centerColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.animeCardPic{
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.animeCardTitle{
  /* width: 20vw; */
  height: 10vh;
}
.animeCardDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  transition: all 0.3s;
  color: white;
}
.animeCardDiv:hover{
  transform: scale(1.1);
  transition: all 0.3s;
  color: white;
} 


header{
  display: flex;
  background-color: black;
  align-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 10vh;
  left: 0;
  top: 0;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  
}


.headerSearch{
  display: flex;
  justify-content: center;
  width: 60vw;
}
.headerInput{
  width: 30vw;
}


.icon{
  margin-bottom: -20px;
  font-size: 3rem;
  padding: 0;
}


.overlay, .modal{
  left: 8vw;
  right: 0;
  top: 10vh;
  bottom: 0;
  position: fixed;
  width: 92vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay {
  background: rgba(49,49,49,0.5);
}



.animeDetailsBody{
  display: flex;
  flex-direction: column;
}
.animeDetailsTop{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  
}
.detailsColumn{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.detailsImage{
  object-fit: contain;
  width: 40vw;
}
.detailsRecBody{
  overflow-wrap: break-word;
  overflow-y: auto;

}



.reviewDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}
.review{
  display: flex;
  justify-content: flex-start;
  height: 50px;
  align-items: center;
  padding: 10px;
  width: 40vw;
  margin-bottom: 10px;
}
.reviewName{
  margin-right:10px;
}
.reviewComment{
  margin: 0 10px;
}
.reviewUser{
  max-width: 50px;
  object-fit: cover;
  margin-right: 5px;
}
.reviewLink{
  display: flex;
  color: beige;
}
.loginX{
  margin-bottom: 0px;
  margin-top: 0;
  filter: drop-shadow(0px 0px 1px white);
}
.loginDiv{
  background-color: #1e1e1e;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.loginTitle{
  padding: 5px;
}
.loginForm{
  width: 200px;
}





@keyframes slide {
  0% {
    margin-left: 0px;
  }
  50%{
    margin-left: -3300px

  }
  100%{
    margin-left: 0px;
  }
}
.homeRow{
  display: flex;
  overflow-x: hidden;
  animation: slide infinite 120s linear;
}
.homeDiv{
  width: 92vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
}
.homeCenterAnime{
  display: flex;
  align-items: flex-end;
  height: 40vh ;
  margin-bottom: 10px;
}
.homeCenterAnimeText{
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.homeCenterBody{
  overflow-y: scroll;
  height: 20vh;

  /* height: auto */
}
.homeImage{
  margin-bottom: 10px;
  width: 50vw;
  height: 40vh;
  object-fit: cover;
}
.plug{
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: $flavor;
  border-radius: 90%;
  height: 50px;
}
.recsArrow{
  width: 25px;
  filter: grayscale(50%);
}
.recAnimePic{
  max-width: 150px;
}
.recBody{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}
.rec{
  background-color: #1e1e1e;
  margin-bottom: 20px;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.recDetails{
  /* overflow-x: scroll; */
  overflow-wrap:break-word;
  overflow-y: auto;
  width: 15vw;
}

.Sidebar{
  // background-color: $grey;
  background-image: linear-gradient( black, $grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 8vw;
  position:fixed;
  left: 0;
  z-index: 1;

  
}
.sidebarLink{
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 22.5vh;
  &:hover{
  background-color: $flavor;
  color: black;
  }
}


.userPagePic{
  max-width: 25vw;
}
.userStack{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  justify-content: flex-end;
}
.userTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userWatchedPic{
  width: 50px;
  height: 80px;
  object-fit: cover;
}
.userColumn{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* align-content: flex-end; */
  /* align-items: center; */
}
.userReview{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background-color: #1e1e1e;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}
.userReviewBody{
  display: flex;
  flex-direction: column;
  width: 100px;
  overflow-wrap: break-word;
  overflow-y: auto;
  height: 50px;
  justify-content: center;
}
.userWatched{
  display: flex;
  background-color: #1e1e1e;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
.userRec{
  display: flex;
  background-color: #1e1e1e;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
.userSelect{
  display: flex;
  justify-content: center;
  background-color: #111;
}
.userSelectW{
  border-right: 3px solid white;
  width: 30vw;
  text-align: center;

}
.userSelectRev{
  width: 30vw;
  text-align: center;
}
.userSelectRec{
  width: 30vw;
  text-align: center;

  border-left: 3px solid white;
}
.userName{
  border-bottom: 2px solid pink;
}
.userButton{
  margin-bottom: 5px;
}
.userRecBody{
  overflow-wrap: break-word;
  overflow-x: auto;
}

.votedOn{
  filter: drop-shadow(0px 0px 3px white) grayscale(10%); 
}