
body{
  background-color: #2d2d30;
  margin: 0;
  padding: 0;
  padding-left: 8vw;
  padding-top: 10vh;
}
.white{
  color: white;
}
.white:hover{
  color: pink;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.column{
  display: flex;
  flex-direction: column;
}
#plug{
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: pink;
  border-radius: 90%;
  height: 50px;
}
header{
  display: flex;
  background-color: black;
  align-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 10vh;
  left: 0;
  top: 0;
  position: fixed;
  justify-content: space-between;
  z-index: 1;

}
.headerSearch{
  display: flex;
  justify-content: center;
  width: 60vw;
}
.headerInput{
  width: 30vw;
}
.Sidebar{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 8vw;
  position:fixed;
  left: 0;
  z-index: 1;

  
}
.sidebarLink{
  color: white;
}
.sidebarLink:hover{
  color: pink;
}

.icon{
  max-width: 50px;
  margin-bottom: -20px;
  padding: 0;
}
.overlay, .modal{
  left: 8vw;
  right: 0;
  top: 10vh;
  bottom: 0;
  position: fixed;
  width: 92vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay {
  background: rgba(49,49,49,0.5);
}



.animeDetailsBody{
  display: flex;
  flex-direction: column;
}
.animeDetailsTop{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.detailsColumn{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.detailsImage{
  object-fit: contain;
  width: 40vw;
}



.reviewDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}
.review{
  display: flex;
  justify-content: flex-start;
  height: 50px;
  align-items: center;
  padding: 10px;
}
.reviewName{
  margin-right:10px;
}
.reviewComment{
  margin: 0 10px;
}
.reviewUser{
  max-width: 50px;
}
.reviewLink{
  display: flex;
  color: beige;
}
.loginX{
  margin-bottom: 0px;
  margin-top: 0;
  filter: drop-shadow(0px 0px 1px white);
}
.loginDiv{
  background-color: #1e1e1e;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.loginTitle{
  padding: 5px;
}
.loginForm{
  width: 200px;
}




.homeImage{
  height: 300px;
  width: 800px;
  object-fit: cover;
}
@keyframes slide {
  0% {
    margin-left: 0px;
  }
  50%{
    margin-left: -3300px

  }
  100%{
    margin-left: 0px;
  }
}
.homeRow{
  display: flex;
  overflow-x: hidden;
  animation: slide infinite 120s linear;
}
.homeDiv{
  width: 92vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
}
.homeCenterAnime{
  display: flex;
  align-items: center;
}
.homeCenterAnimeText{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  height: 300px;
}
.homeCenterBody{
  overflow-y: auto;
}
.homeImage{
  margin-bottom: 10px;
}
.animeCardPic{
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.animeCardTitle{
  /* width: 20vw; */
  height: 10vh;
}
.animeCardDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  transition: all 0.3s;
  color: white;
}
.animeCardDiv:hover{
  transform: scale(1.1);
  transition: all 0.3s;
  color: white;
} 


.userPagePic{
  max-width: 25vw;
}
.userStack{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  justify-content: flex-end;
}
.userTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userWatchedPic{
  width: 50px;
}
.userColumn{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}




.recsArrow{
  width: 25px;
  filter: grayscale(50%);
}
.recAnimePic{
  max-width: 150px;
}
.recBody{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}
.rec{
  background-color: #1e1e1e;
  margin-bottom: 20px;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.recDetails{
  /* overflow-x: scroll; */
  overflow-wrap:break-word;
  overflow-y: auto;
  width: 15vw;
}
.votedOn{
  filter: drop-shadow(0px 0px 3px white) grayscale(10%); 
}