@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import './assets/colors.scss';

@media (max-width: 700px ) {
  html{
    overflow-x: hidden;
  }
  .mobileHide{
    display: none;
  }
  .mobileShow{
    
  }
  body{
    padding-left: 0;
    overflow-x: hidden;
    padding-bottom: 10vh;
    
  }
  .animeDetailsTop{
    flex-direction: column;
    align-items: center;
  }
  .detailsImage{
    width: 100vw;
  }
  .detailsColumn{
    align-items: center;
  }
  .headerTitle{
    font-size: 1.5rem;
  }
  h1{
    font-size: 1.3rem;
  }
  .headerSocials{
    display: none;
  }
  .homeRow{
    height: 40vh;
  }
  .homeCenterAnime{
    height: 40vh;
  }
  .plug{
    width: 25px;
    height: 25px;
  }
  .rec{
    width: 100vw
  }
  .recTop{
    width: 100vw;
  }
  .recAnimePic{
    max-width: 6rem;
    height: auto;
  }
  .recAnime{
    text-align: center;
    max-width: 6rem;
  }
  .review{
    width: 100vw;
  }
  .Sidebar{
    
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    margin-bottom: -5px;
  }
  .sidebarLink{
    height: 10vh;
    padding: 0;
    margin: 0;
  }
  .userTop{
    flex-direction: column;
  }
  .userStats{
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
  }
  .userWatched{
    width: 100vw;
  }
  .userReview{
    width: 100vw;
  }
  .userRec{
    width: 100vw;
  }
}